//====================================
// Arfitect Imports
//====================================
@import 'typography';
@import '1-frameworks/index';
@import '2-plugins/index';
@import '3-base/index';
@import '4-modules/index';
@import 'variables';

// Default
a,a:hover {
  text-decoration: none !important;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus {outline:0 !important;}
button,a,select { outline: none; box-shadow:none;}
body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-family:$font-regular;

}
button:focus {outline:0 !important;}₺
button,a,select { outline: none !important; box-shadow:none !important;}
ul {margin: 0;}
// Nav
nav.sub {
  .hamburger {

    margin-right:5px;

    img.white {
      max-width:35px;
      display: none;
    }

    img.black {
      max-width:35px;
      display: block;
    }


  }
  .navbar-brand img:hover {
    transform: rotate(-360deg);
    transition: $transition-8;
  }
  .navbar-brand {
    transition: $transition-8;

    img.white {
      max-width:35px;
      display: none;
    }

    img.black {
      max-width:35px;
      display: block;
    }


  }
}
.lang-sa {

  nav {

    ul.navbar-nav.main-menu {
      text-align: right;

      li.nav-item {

        .nav-link {
          font-size: 21px;
        }

      }
    }

  }

  .himms-about {

    h1 {
      letter-spacing: -1px;
      font-weight: 900;
      font-size: 55px;
    }

    p {
      font-size: 24px;
    }
    .btn-light {
      background: transparent;
      border: 1px solid $color-black;
      color: $color-black;
      padding: 5px 25px;
      font-size: 21px;
      &:hover {
        background: $color-black;
        border: 1px solid $color-black;
        color: $color-white;
      }
    }
  }

  .content {

    .filter {
      .card {
        span {
          font-size: 21px;
        }
      }

    }

  }

  .e-bulletin label {
    font-size:21px;
  }

}

nav {
  background:$color-brown-ultra-light;

  .navbar-brand {
    position: absolute;
    width: 150px;
    margin-top: 45px;
    z-index: 2;

    @include media-breakpoint-down(xs) {
      width:90px;
    }

  }

  ul.navbar-nav.main-menu {
    text-align: right;

    li.nav-item{

      .nav-link {
        font-size: 14px;
      }
      .nav-link.dropdown-toggle {

      }
      .dropdown-menu {
        transition: $transition-5;
        min-width: 70px !important;
        background:$color-brown-ultra-light;
        margin-top: 20px;
        border-radius: 0;
        border:0;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);

        img {
          width: 100%;

          border-radius:50%;
        }

        .dropdown-item {

          margin-bottom: 5px;
          transition: $transition-5;
          img {

            @include media-breakpoint-down(xs) {
              width: 24px;
            }
          }

        }

      }
      .dropdown-menu:after {
        position: absolute;
        top: -10px;
        left: 23px;
        display: inline-block;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $color-brown-ultra-light;
        border-left: 10px solid transparent;
        content: '';

      }
      .dropdown-item:focus, .dropdown-item:hover {
        background-color:$color-white;
        transition: $transition-5;
      }

    }
  }

  .navbar-nav.language {
    text-align: right;

    .nav-item.lang {
    img {
      width: 24px;
    }

    .nav-link {
      font-size: 14px;
    }
    .dropdown-menu {
      transition: $transition-5;
      min-width: 70px !important;
      background:$color-brown-ultra-light;
      margin-top: 20px;
      border-radius: 0;
      border:0;
      box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);

      img {
        width: 100%;

        border-radius:50%;
      }

      .dropdown-item {

        margin-bottom: 5px;
        transition: $transition-5;
        img {

          @include media-breakpoint-down(xs) {
            width: 24px;
          }
        }

      }

    }
    .dropdown-menu:after {
      position: absolute;
      top: -10px;
      left: 23px;
      display: inline-block;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $color-brown-ultra-light;
      border-left: 10px solid transparent;
      content: '';

    }
    .dropdown-item:focus, .dropdown-item:hover {
      background-color:$color-white;
      transition: $transition-5;
    }

  }
  }

  ul.navbar-nav.main-menu {



    li {

      margin: 0 5px;

      .nav-link {
        color:$color-black;
        font-weight:400;
        transition:$transition-5;
        font-size: 14px;
        &:hover {
          color:$color-pink;
          transition:$transition-5;
        }
      }
    }
  }

  .navbar-toggler {

    @include media-breakpoint-down(xs) {
      position: absolute !important;
      right: 10px;
      padding: 0.15rem 0.45rem;
      font-size: 1rem;
      border:0;

       img {
         width:35px;
       }
    }
  }

  @include media-breakpoint-down(xs) {
   padding:30px 10px !important;
  }
}
nav.scrolled{

  background: #FFF !important;

  .navbar-brand {
    transition: $transition-8;

    img.white {
      max-width:35px;
      display: none;
    }


    img.black {
      max-width:35px;
      display: block;
    }
  }
  .hamburger {
    transition: $transition-8;

    img.white {
      max-width:35px;
      display: none;
    }

    img.black {
      max-width:35px;
      display: block;
    }


  }

}
section {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: relative;
  display: table;
  color: $color-white;

  .work:after {
    content: "";
    position: absolute;
    width: 0.1em;
    height:30px;
    background:$color-black;
    top:-90px;
    left:10px;
  }
  .work {
    color: $color-black;
    position: fixed;
    width: 20px;
    height:auto;
    left:2.7%;
    bottom:7%;
    z-index: 7;
    text-align: left;

    h2 {
      letter-spacing:2px;
      font-weight: 200;
      font-size: 18px;
      margin: 0;
      transform: rotate(-90deg);
    }
  }

  .scroll:hover {
    transition: $transition;
    bottom:6%;
  }
  .scroll {

    transition: $transition;
    position: absolute;
    width:30px;
    height:auto;
    right:2.4%;
    bottom:5%;
    z-index: 2;

  }

  .scrollUp:hover {
    transition: $transition;
    bottom:13%;
  }
  .scrollUp {
    transform: rotate(-180deg);
    transition: $transition;
    position: absolute;
    width:30px;
    height:auto;
    right:2.4%;
    bottom:12%;
    z-index: 8;

  }


  @include media-breakpoint-down(xs) {
  }
}
footer {
  background:$color-pink;
  padding:30px 0;
  ul.social {
    li {
      a {
        font-size:16px;
        color: $color-white;

      }
    }

  }
  h6 {
    color: $color-white;
  }
  span {
  font-size: 12px;
    color: $color-white;
}
  .copy {
    text-align: left;
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
  .design {
    text-align: right;
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
}
.top {
  width: 100%;
  padding:5px 0;
  background: $color-pink;
  color: $color-white;
  .phone {
    text-align: right;
  }
  a {
    color: $color-white;
    font-size:14px;
    font-weight: 600;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }


}

// Collapse Menu
.collapse.menu {
  border-radius: 0;
  .col-md-4 {
    padding: 0;
    margin: 0;
    transition: $transition;
  }
  .card {
    border:0;
    margin:0;
    transition: $transition;
    border-radius:0;

    .card-footer {
      text-align: center;
      color: $color-white;
      background: transparent;
      border:0;
    }
  }
  .girl,.boy,.season {

    .card {
      border-radius: 0;
      background: transparent;
      border:0;

      .card-img-top {
        border-radius: 0;
      }
    }
    transition: $transition-8;
    &:hover {

      img {
        transition: $transition-8;
        opacity:1;
      }


    }
    img  {
      opacity: .5;
      transition: $transition-8;
    }
  }
  .girl {
    background: $color-pink;
    .card {
      background: $color-pink;
    }
  }
  .boy {
    background: $color-blue;
    .card {
      background: $color-blue;
    }
  }
  .season {
    background: $color-brown;
    .card {
      background: $color-brown;
    }
  }
}

// Cards
.card {
  border:0;
  margin:0;
  border-radius:0;

  .card-footer {
    text-align: center;
    color: $color-white;
    background: transparent;
    border:0;
  }
}

// Modal
.modal {
  transition: $transition-5;
  .mainMenu {
    .bottom {
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      margin: 0 auto;
      width: 120px;

      @include media-breakpoint-down(xs) {
        width:90px;
      }

    }
    .close {
      position: absolute;
      right: 12%;
      top:7%;
      width: 30px;
      opacity:1;

      @include media-breakpoint-down(xs) {
        position: absolute;
        right: 7%;
        top: 4%;
        opacity: 1;
        width: 10%;

      }

    }
    ul {

      li {

        @include media-breakpoint-down(xs) {

          text-align: center;

        }


        a {
          font-size: 40px;
          color:$color-gray;
          transition: $transition-5;
          font-family: $font-ultra-light;
          letter-spacing: -1px;
        }
        a:hover {
          text-decoration: none;
          color:$color-pink;
        }
      }

    }

    .sub-link a {
      font-size: 18px !important;
      line-height: 32px;
      font-family: $font-light !important;
    }

  }

  .lang {
    margin-top:20px;
    img {
      width:32px;
      margin:0 10px;
    }
  }

}
.modal-backdrop.show {
  opacity: 0.95 !important;
  transition: $transition-5;
}
.modal-backdrop {
  background: $color-white;
  transition: $transition-5;
}

// Middle Catalog
.middle-catalog {
  .card {

    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;

    .card-img-overlay {
      color: $color-white;
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      height: 100%;
      padding-left:50px;
      .btn-light {
        background: transparent;
        border:1px solid $color-white;
        color: $color-white;
        min-width:120px;

        &:hover {
          background: $color-white;
          color: $color-black;
          border-color:$color-white;
        }

      }
    }
    &.girl {
      .card-img-overlay {
        background: -moz-linear-gradient(left, rgba(231,41,116,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(231,41,116,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(231,41,116,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72974', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &.boy {

      img {

      }
      .card-img-overlay {
        background: -moz-linear-gradient(left, rgba(29,201,233,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(29,201,233,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(29,201,233,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dc9e9', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &.opportunity {
      .card-img-overlay {
        background: -moz-linear-gradient(left, rgba(0,0,0,0.77) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,0.77) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0.77) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4000000', endColorstr='#00ffffff',GradientType=1 );
        justify-content: center;
        text-align: center;
      }
    }
    &:hover {
      img {
        transform: scale(1.15);
      }
    }
    img {
      border-radius:0;
      transition: $transition-5;
    }
    ul {
      margin: 0;

    }
  }
}

// Page Hero & Banner
.page-hero {

  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  color: $color-black;
  margin-bottom: 0;
  border:0;
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color:transparent;

    .owl-carousel {
      .item {

        img {
          margin: auto;
          width: 100%;

        }
        .caption {
          &:hover {
            cursor: grab;
          }
          position: absolute;
          left:0;
          right: 0;
          bottom:0;
          top:0;
          background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
          vertical-align: middle;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          h1,span {
            color:$color-white;
            text-shadow:0 2px 5px rgba(0, 0, 0, 0.34);
          }
          h1 {
            margin-bottom: 5px;
            letter-spacing:-3px;
            color: $color-white;
            font-size: 75px;

            @include media-breakpoint-down(xs) {
              font-size:25px;
            }
          }

          span {
            font-size:21px;

            @include media-breakpoint-down(xs) {
              font-size:16px;
            }
          }
          .btn-light {
            background: transparent;
            border:1px solid $color-white;
            color: $color-white;

            @include media-breakpoint-down(xs) {
              font-size:14px;
            }
          }
        }
      }
      .owl-nav {
        text-align: center;
        margin-top: 20px;
      }
      .owl-dots {
        position: absolute;
        right: 0.50%;
        top: 50%;
        transform: rotate(90deg);
        transition: $transition-8;

      }
      button.owl-dot.active {
        background:$color-white;

        &:after {
          content: '';
          height: 20px;
          border: 1px solid $color-white;
          position: absolute;
          top: -12px;
          margin-left: -1px;

          @include media-breakpoint-down(sm) {
            height: 16px;
            border: 1px solid $color-white;
            position: absolute;
            top: -2px;
            margin-left: -1px;
          }


        }
      }
      .owl-nav button.owl-prev,
      .owl-nav button.owl-next,
      button.owl-dot {
        background: $color-white;
        width:10px;
        height:10px;
        margin: 0 5px;
        border-radius: 50%;
        @include media-breakpoint-down(sm) {
          width:8px;
          height:8px;
          margin: 0 2px;
        }


      }
    }

  }


}

// Himms About & Counter
.himms-about {
  padding: 60px 0;

  ul {
    margin-top: 40px;
  }
  h1 {
    letter-spacing:-1px;
    font-weight: 900;
    font-size:55px;
  }
  .btn-light {
    background: transparent;
    border:1px solid $color-black;
    color: $color-black;
    &:hover {
      background: $color-black;
      border:1px solid $color-black;
      color: $color-white;
    }
  }
}

// E-Bulletin
.e-bulletin {

  background: url("/img/ebulletin-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  padding:50px 0;
  width: 100%;
  text-align: center;
  .form-group {
    margin: 0 auto;
  }
  label {
    font-size: 16px;
    font-weight: bold;
  }
  .form-control {
    background: transparent !important;
    box-shadow: none;
    height: 42px;
    color: $color-black !important;
    border:1px solid $color-black;
    font-size: 14px;
    padding-left:20px;

  }
  .btn-link {
    position: absolute;
    right:18px;
    top: 34px;
    z-index: 1;
    font-weight: 900;
    color: $color-black;
    &:hover {
      text-decoration: none;
    }
  }


}

// Sub Header
.sub-header {
  width: 100%;
  height: 150px;
  padding:30px 0;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  @include media-breakpoint-down(xs) {
    background: url("/img/girl.png") no-repeat center right $color-white;
    background-size:280px;
  }
  h4,h5 {
    margin: 0;
    font-size:30px;
  }
  h4 {
    font-weight:bold;
  }
  h5 {
    font-weight:normal;
  }
}

.sub-header.detail {

  width: 100%;
  height:70px;
  padding:30px 0;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  background: $color-white;

  @include media-breakpoint-down(xs) {
    background: url("/img/girl.png") no-repeat center right $color-white;
    background-size:280px;
  }
  h4,h5 {
    margin: 0;
    font-size:16px;
  }
  h4 {
    font-weight:bold;
  }
  h5 {
    font-weight:normal;
  }

}

.sub-header.about {

  width: 100%;
  height:200px;
  padding:30px 0;
  background: url("/img/aboutBg.jpg") no-repeat center center $color-white;
  background-size:cover;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;

  hr {
    width:60px;
    float: left;
    margin:5px 0;
    border-top:3px solid $color-white;

  }

  @include media-breakpoint-down(xs) {
    text-align: center;
    hr {
      text-align: center;
      margin: 10px auto;
      float: none;
    }

  }

  h4,h5 {
    margin: 0;
    color: $color-white;
  }
  h4 {
    font-weight:bold;
  }
  h5 {
    font-weight:normal;
  }

}

.sub-header.news {

  width: 100%;
  height: 200px;
  padding:30px 0;
  background: url("/img/newsBg.jpg") no-repeat center  $color-white !important;
  background-size:cover !important;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;

  hr {
    width:60px;
    float: left;
    margin:5px 0;
    border-top:3px solid $color-white;

  }


  h4,h5 {
    margin: 0;
    color: $color-white;
  }
  h4 {
    font-weight:bold;
    font-size: 32px;
  }
  h5 {
    font-weight:normal;
  }

  @include media-breakpoint-down(xs) {
   text-align: center;

    hr {
      text-align: center;
      margin: 10px auto;
      float: none;
    }


  }



}

.sub-header.shops {

  width: 100%;
  height: 200px;
  padding:30px 0;
  background: url("/img/shopBg.jpg") no-repeat center center $color-white;
  background-size:cover;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;

  hr {
    width:60px;
    float: left;
    margin:5px 0;
    border-top:3px solid $color-white;

  }

  @include media-breakpoint-down(xs) {

    hr {
      text-align: center;
      margin: 10px auto;
      float: none;
    }



  }
  h4,h5 {
    margin: 0;
    color: $color-white;
  }
  h4 {
    font-weight:bold;
  }
  h5 {
    font-weight:normal;
  }

}

.sub-header.contact {

 /* iframe {
    -filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }*/

  width: 100%;
  height: 300px;
  padding:30px 0;
  background:$color-white;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: left;

  @include media-breakpoint-down(xs) {
    background: url("/img/girl.png") no-repeat center right $color-white;
    background-size:280px;
  }
  h4,h5 {
    margin: 0;
    color: $color-white;
  }
  h4 {
    font-weight:bold;
  }
  h5 {
    font-weight:normal;
  }

}

.carousel.slide {

  -webkit-box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.5);
  box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.5);


  .carousel-inner {
    .carousel-control {
      position: absolute;
      top:40%;

    }
    .carousel-control.left {
      position: absolute;
      left: 20px;
    }

    .carousel-control.right {

      position: absolute;
      right: 20px;
    }


  }
  .carousel-indicators {
    margin-top: 50px;
    li{
      width: 75px;
      cursor:pointer;
      border:1px solid $color-black;
      height: auto;
      text-indent:inherit;
      margin-bottom: 20px;

    }

  }

}

.content.product-detail {

  background: $color-white;
  -webkit-box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.1);
  box-shadow: -1px 7px 31px -11px rgba(0,0,0,0.1);
  padding:60px 0 60px 0;

  .product-info {

    .name {
      font-size:28px;
      color: $color-black;
      font-weight: 900;
    }
    .code {
      font-size:21px;
      color: $color-black;
      font-weight: 900;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      color: $color-black;
    }
    .color {
      ul {
        li
        {
          img {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
            border-radius: 50%;
          }

        }
      }
    }
    .size {
      a {
        color: $color-black;
      }
      .box.active {
        font-size: 14px;
        background:$color-white;
        border:1px solid #e8e8e8;
        padding: 10px 10px;
        text-align: center;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

    }
    .desc {
      p {
        font-size: 13px;
      }
    }

    .breadcrumb {
      background: transparent;
      font-size: 12px;
      padding: 0;
      margin: 0 0px 10px 0;

      a {
        color:$color-brown;
      }

    }
  }


}

.content {

  .filter {

    .card {
      overflow: hidden;
      color: $color-white;
      .card-body {

        padding: 20px 0 0 20px;
        position: relative;

        .btn-primary {
          border: 0;
          color: #FFFFFF;
          width: 20px;
          height: 20px;
          background: url("/img/collapsed.svg") no-repeat;
          border-radius: 0;
          position: absolute;
          top: 25px;
          z-index: 2;
          right: 10px;
        }

        .btn-primary.collapsed {
          border: 0;
          color: #FFFFFF;
          width: 20px;
          height: 20px;
          background: url("/img/collapse.svg") no-repeat !important;
          border-radius: 0;
          position: absolute;
          top: 25px;
          z-index: 2;
          right: 10px;
        }

        .collapse {

        }

      }
      .card-footer {
        text-align: left;
      }
      .card-title {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
      }
      .card-img-top {
        border-radius: 0;
        opacity: .95;
      }
      .color {
        label {
          width: 100%;
          line-height: 18px;
        }

        img {
          border: 2px solid $color-white;
          border-radius: 50%;
          width: 22px;
        }
      }
      span {
        font-size: 14px;
      }
    }
    .girl {
      background: $color-pink;
      .card {
        background: $color-pink;
      }
    }
    .boy {
      background: $color-blue;
      .card {
        background: $color-blue;
      }
    }
    .season {
      background: $color-brown;
      .card {
        background: $color-brown;
      }
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .catalog {

    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $color-black;
        text-decoration: none;
      }
    }
    .card {
      transition: $transition-5;
      -webkit-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
      box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      padding: 10px;
      overflow: hidden;
      .overlay {
        position: absolute;
        background: rgba(234, 229, 223, 0.8);
        transition: $transition-5;
        opacity: .1;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        vertical-align: middle;
        align-items: center;
        justify-content: left;
        .fa-search {
          font-size: 55px;
          color: #FFFFFF;
          transition: $transition-5;
          left: 0;
          right: 0;
          text-align: center;
          position: absolute;
          width: 30%;
          height: 100%;
          top: 70px;
        }
      }

      img {
        border-radius: 0;
        transition: $transition-5;
      }

      &:hover {
        transition: $transition-5;
        -webkit-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);

        .overlay {
          opacity: 1;
        }

        img {
          transform: scale(1.20);
        }
      }

    }
    span.code {
      color: $color-black;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;

    }

    @include media-breakpoint-down(xs) {
      text-align: center;

      span.code {
        font-size: 18px;

      }

    }

  }
  .social {
    .btn.facebook {
      background: #3B5998;
      color: #FFF;
      min-width: 100px;
    }
  }
  .sub-menu {
    ul {
      li {

        padding: 6px 12px;
        margin-bottom: 10px;

        a {
          font-size: 16px;
          color: #666;
          padding-left: 100px;
          transition: $transition-5;

          &:hover {
            color: $color-pink;
            transition: $transition-5;
          }

        }
        &.active {
          border-bottom: 1px solid $color-black;

          a {
            color: #000;
            font-weight: 600;
          }
        }
      }
    }
  }
  .about-text {
    @include media-breakpoint-down(xs) {
      padding: 30px;
      text-align: justify;

    }
  }
  .shops {
    a {
      color: $color-pink;

      &:hover {
        color: $color-pink;
        text-decoration: none;
      }
    }
  }
  .news {
    h5 {
      color: $color-pink;
    }
    small {
      color: $color-gray-2;
    }
  }
  .contact {
    background: $color-white;
    -webkit-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.1);
    padding: 60px 20px;

    .address {

      text-align: center;
      i {
        opacity: .15;
        font-size: 72px;
        line-height: 82px;
        margin-bottom: 20px;
        color: $color-gray-2;
      }
      address {
        font-size: 14px
      }
    }
    .contact-form {
      h1 {
        text-align: center;
        margin-top: 20px;
      }
      margin-top: 50px;
      select {
        border: 1px solid #ddd;
        color: $color-gray;
        font-size: 21px;
        padding: 2px 16px;
        height: 52px;;
      }
      .form-control {
        border: 1px solid #ddd;
        font-size: 21px;
        color: $color-gray;
        padding: 15px;
      }
      .message {
        text-align: center;
        i {
          color: $color-success;
        }
      }
      .btn-light {
        background: $color-pink;
        color: $color-white;
      }
    }
  }

}



.mobile-menu {

  display: block;
  position:fixed;
  bottom: 0;
  background:$color-brown-ultra-light;
  height:75px;
  padding:10px 0;
  width: 100%;
  z-index: 2;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  ul {
    margin: 0;
    li {

      width:30%;
      a {
        color: $color-black;
      }
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      img {
        width:35px;
      }
    }
  }


}
// Other
.pink {
  color:$color-pink !important;
}
.blue {
  color: $color-blue;
}
.brown {
  color: $color-brown;
}
.white {
  color:$color-white;
}
.custom-select:focus, .form-control:focus {
  outline: none !important;
  box-shadow:none;
}
.border {
  border:1px solid red;
}
.fixed-top {
  padding-top:20px;
}

.v-center {display: table-cell;vertical-align: middle;}
.centrize {display: table;table-layout: fixed;height: 100%;width: 100%;position: absolute;}

/* Radio White-------------------- */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $color-white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $color-white;
  border-radius: 100%;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FFF;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkboxs {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 20px;
    font-size: 14px;

  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background:transparent;
    border:1px solid $color-white;
    border-radius:5px;
  }

  // Box hover
  &:hover + label:before {
    background: $color-white;
    border-color:$color-white;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: transparent;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
    transform: rotate(45deg);
  }
}

//------------------------------------------------------------
// = MEDIA QUERIES
//------------------------------------------------------------
// -- Default media queries

// Extra small devices (Mobile phones, 0px and up)
// No media query needed since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {  }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {  }

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {  }

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {  }

// -- We occasionally use media queries that go in the other direction (the given screen size or smaller):

// 575px and down
@include media-breakpoint-down(xs) {  }

// 767px and down
@include media-breakpoint-down(sm) {  }

// 991px and down
@include media-breakpoint-down(md) {  }

// 1199px and down
@include media-breakpoint-down(lg) {  }

// -- There are also media queries and mixins for targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) { }

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) { }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) { }

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) { }

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) { }

// -- Similarly, media queries may span multiple breakpoint widths:
// Apply styles starting from medium devices and up to extra large devices

@include media-breakpoint-between(md, xl) { }

