//------------------------------------------------------------
// = TABLET LANDSCAPE
//------------------------------------------------------------
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/*CARDS*/
.card {
  margin-bottom: 30px;
  .body {
    min-height: 190px;
  }
}

.horizontal-tab-color .links ul li {
  width: 250px;
}

.horizontal-tab-color {

  .links {
    ul li {
      width: 245px;
    }
  }

}

.tab-horizontal.tab-lg {

  .nav-tabs {

    li, li:hover {
      border-color: transparent;
    }
    li {
      height: 80px;

      a {
        min-width: 150px;
        height: 80px;
        img {
          width: 16px;
          margin-right: 10px;
        }
      }
    }

  }
  .container {
    position: relative !important;
    .cta {
      position: absolute;
      right: 0;
      top: 0;
    }
    .btn-search {
      position: absolute;
      right: 0;
      top: 0;
    }

  }

}

.member-company {

  button {
    color: $color-base-1;
    width: 260px;
    height: 60px;
  }

  .card {
    margin-top: 20px;
    min-height: 275px;
    width: 100%;
  }
}

.search-group {
  .form-control {
    max-width: 220px;
  }

  button {
    width: 180px !important;
  }

}

.products-section {

  .products-slider {

    margin-top: 0;
    padding: 10px;

    &.slick-slider {

      .slick-dots {
        margin-top: -30px;
      }

    }
  }

}

.box-group.card-group {
  margin-top: -55px;
}

.sub-hero-small {

  .caption {
    height: 100%;
  }

}

.calculator {

  width: 80%;
  border-color: transparent;
  margin: 20px auto;
  box-shadow: 6px 27px 51px -28px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid #eeece8;

  .body {
    p {
      font-size: 16px;
      line-height: 24px;
    }

    h3 {
      font-size: 18px;
      line-height: 46px;
    }
  }

  .calculate {

    button {
      width: 100%;
      margin: 0 auto;
    }
  }
  .horizontal-tab .swipe ul > li {
    min-width: 120px !important;
  }
  .head {
    width: 100%;
    margin: 0 auto;
    .cta {
      position: absolute;
      right: 10px;
      bottom: 35px;

      button {
        width: 130px;
        height: 52px;
        margin: 15px 20px;
      }
    }
    .item img:first-child {
      width: 37px;
      height: 46px;
    }
    .item {
      width: 225px;
      margin-right: 25px;

    }
    .input-group-btn {
      border-radius: 0 !important;
    }

    input {
    }
  }
  .calc-small {
    margin-top: 10px;
  }
  .form-control {
    min-width: 100px;
    color: $color-heading;
    font-size: 1.250em !important;
    text-align: center;
    font-weight: 900;
    @include font-primary;
  }
  .mobile-calc {

    input:active, input:hover, input:focus {
      border-color: #dddddd !important;
    }

    input {
      float: none;
      width: 130px;
      margin-bottom: 20px;
      background: #F6F6F5;
      height: 50px;
      border-radius: 0 !important;
      margin-left: -5px;
      margin-right: -5px;
      border-color: #dddddd;
    }
  }

}

.calculator.large {
  width: 92%;
  margin: 0 auto;
}

.bottom-hero {
  width: 942px;
  height: 240px;
  position: relative;
  margin: 0 auto;
  background: $color-base-1 url("/assets/images/blue-texture.png") no-repeat center;

  .caption {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    .sub-hero-slogan-alpha {
      line-height: 52px;
      font-weight: normal;
      color: $color-base;
      font-size: 26px;
      margin-bottom: 30px;
      @include font-primary;
    }

    .sub-hero-slogan {
      font-family: Helvetica, Arial, sans-serif;
      color: $color-base;
      font-size: 18px;
      line-height: 26px;
      font-weight: normal;
    }

    button {
      min-width: 225px;
      min-height: 52px;
    }
  }
}

.campaigns-section {

  padding: 20px 0;

  .campaigns-title {

    margin-bottom: 20px;

    h1 {
      @include font-primary-semi-bold;
      font-size: 32px;

    }
  }
  .campaigns-card {

    margin-bottom: 20px;

    article {
    }

  }
  .campaigns-cta {

    margin-top: 0px;
  }

}

.section-footer {

  .section-cta {

    button {
      width: 100%;
      text-align: left;
    }

  }

}

.section-where {

  .section-content {

    .section-body {
      .where-brand {
        .brand {
          display: inline-block;
          margin: 10px 4px 0 4px;
          border: 1px solid #EAEAEA;
          img {
            width: 145px;
          }
        }
      }
    }
  }

}

section.mobile {

  h1 {
    @include font-primary;
    font-size: 24px;
  }

  .mobile-description {
    font-family: Helvetica, Arial, sans-serif;
    color: #65676A;
    font-size: 16px;
    line-height: 24px;
  }

  button.cta {
    width: 100%;
  }
}

.blog-section {
  .blog-card {
    min-height: 200px;
  }
}

.modal.finder {
  header {
    .close {
      .modal-close {
        margin: 35px 25px auto !important;
      }

    }
  }
}

.modal.join {
  .content {
    /*height: 100%;*/
  }
}