//------------------------------------------------------------
// = TABLET PORTRAIT
//------------------------------------------------------------

.middle-product-group {
  .container {
    position: inherit;
    margin-top: 90px;
  }
}

.horizontal-tab-color {
  .links ul li {
    width: 170px;
  }

  .links ul li img {
    display: block;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
}

.middle-product-group {

  h2 {

    margin: 0px 0 30px 0px;
  }

}

.sub-hero {

}

.horizontal-swipe-tab .slick-initialized .draggable {
  max-width: 100% !important;
}

.step-info {
  .box {
    margin-top: 50px;
  }
}

//------------------------------------------------------------
// = Sliders
//------------------------------------------------------------

.banner {

  h1 {
    @include font-primary;
    font-size: 24px;
    line-height: 32px;
  }

  .js-banner-slider .caption {
    padding-top: 0;
  }

}

.js-banner-slider {
  .item {
    height: 350px;
    position: relative;
    overflow: hidden;

    button {
      height: 52px !important;
    }
  }
  .caption {

    .container {
      padding-left: 35px;
      padding-right: 35px;
    }

    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 82px;

    p {
      text-align: left !important;
      margin-top: 20px;
    }

  }

  .slick-dots {
    bottom: 75px;
    position: absolute;

    li button:before {
      color: $color-base;
      opacity: 0.5;
      font-size: 8px !important;
    }

    li.slick-active button:before {
      opacity: 1;
    }
  }

  button {
    margin-right: 20px;
  }
  .btn-default {
    text-align: center;
    display: inline;
  }
  p {
    margin-top: 30px;
  }
  .btn, .btn-solid, .btn-outline {
    height: 60px;
    text-align: center;
    display: inline-block;
  }
  .item {
    position: relative;
  }
  .caption {
    padding-top: 82px;
  }
  .btn-solid {
    min-width: 239px;
  }
  .btn {
    height: 60px;
    text-align: center;
    display: inline-block;
  }
  button {
    height: 60px;
  }

  button.bg-base-2 {
    min-width: 239px;
  }
}

.box-group.card-group {
  margin-top: 35px;

  .cta {
    text-align: center;
    margin: 0 auto;

    button {
      @include font-primary-semi-bold;
      color: $color-base-1;
      width: 270px;
      height: 60px;
    }

  }

}

.search-group {
  padding: 10px;
  .form-control {
    width: 100%;
    max-width: none;
  }
}

.collapse, .collapsing {

  .title {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 2px solid $color-stroke-n-icons;
    @include font-primary-semi-bold;
    color: $color-heading;

    i {
      color: $color-heading !important;
      font-size: 14px !important;
      position: absolute;
      right: 10px;
      margin: 4px 10px;
    }

    a {
      color: red;
    }
  }

  background: $color-base-6;

  .collapse, .collapsing {
    .well {
      li {
        padding: 15px 0;

      }
    }
  }
  .well {
    padding-top: 15px;
    button {
      border: 1px solid #D3D0C9 !important;
      color: #65676A !important;
      margin-bottom: 10px;
      @include font-primary;
      width: 100%;
      padding: 0 15px 0 10px;
      vertical-align: middle;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: left;

      img {
        width: 18px;
        height: 23px;
        margin-right: 15px;
      }
    }

  }

}

.collapse {
  background: $color-base-6;
  .well {

    button {
      border: 1px solid #D3D0C9 !important;
      color: #65676A !important;
      margin-bottom: 10px;
      @include font-primary;
      width: 100%;
      padding: 0 15px 0 10px;
      vertical-align: middle;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: left;

      img {
        width: 18px;
        height: 23px;
        margin-right: 15px;
      }
    }
  }
}

#js-hamburger {
  width: 20px;
  height: 13px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#js-hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-base-1;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#js-hamburger span:nth-child(1) {
  top: 0px;
}

#js-hamburger span:nth-child(2) {
  top: 6px;
}

#js-hamburger span:nth-child(3) {
  top: 12px;
}

#js-hamburger.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#js-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

#js-hamburger.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.blog-section {
  .section-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  h1 {
    @include font-primary;
    font-size: 22px;
    line-height: 46px;
  }
}

.mobile-bg-4 {
  background: $color-background;
}

.mobile-bg-base {
  background: $color-base !important;
}

.card.blog-landing-card {
  min-height: 290px;
  h3 {
    @include font-primary-semi-bold;
    font-size: 18px;
    line-height: 26px;
  }
  .body {
    padding: 10px 15px 15px;
  }
}

.card.author-card {
  .body {
    height: 410px;
    margin-top: 10px;
    .cta {
      .btn-small.cta-btn {
        bottom: 20px;
        width: 90% !important;
      }
    }

  }
}

.calculator {

  width: 100%;
  background: $color-base;
  border-color: transparent;

  .body {
    p {
      font-size: 16px;
      line-height: 24px;
    }

    h3 {
      font-size: 18px;
      line-height: 46px;
    }
  }

  .calculate {

    button {
      width: 100%;
      margin: 0 auto;
    }
  }
  .horizontal-tab .swipe ul > li {
    min-width: 120px !important;
  }
  .head {
    position: relative;
    border-color: transparent;
    padding: 0;
    width: 100%;
    padding: 20px;
    .cta {
      position: relative;
      right: 0;
      bottom: 10px;
      left: 0;
      text-align: center;

      button {
        width: 30%;
        height: 52px;
        margin: 15px auto;
      }
    }
    .item img:first-child {
      width: 37px;
      height: 46px;
    }
    .item {
      float: left;
      height: auto;
      margin: 0 auto;
      width: 230px;
      margin-right: 5px;

    }
    .input-group-btn {
      border-radius: 0 !important;
    }

    input {
      border-radius: 0;
      background: #f6f6f6;
    }
  }
  .calc-small {
    margin-top: 10px;
  }
  .form-control {
    min-width: 100px;
    color: $color-heading;
    font-size: 1.250em !important;
    text-align: center;
    font-weight: 900;
    @include font-primary;
  }
  .mobile-calc {

    input:active, input:hover, input:focus {
      border-color: #dddddd !important;
    }

    input {
      float: none;
      width: 130px;
      margin-bottom: 20px;
      background: #F6F6F5;
      height: 50px;
      border-radius: 0 !important;
      margin-left: -5px;
      margin-right: -5px;
      border-color: #dddddd;
    }
    button {
      min-width: 60px !important;
      margin: 0;
      border-radius: 0;
      border: 1px solid #DDD;
      background: transparent;
      background: #FFF;
      height: 50px;
      font-size: 15px;
      font-weight: 900;
      margin-bottom: 20px;
      border-radius: 0 !important;
      i {
        color: $color-base-1;
        font-size: 21px;
      }
    }
  }

  .slider {

    height: 110px;
    padding: 0 10px;

    ul {
      width: 320px;
    }

    .js-range-slider {

      top: 20px;

    }
    span {
      font-size: 16px;
      line-height: 26px;
      display: inline-block;
    }

    width: 280px;
  }
}

.calculator.large {
  width: auto;
}

.bottom-hero {
  width: auto;
  height: 240px;
  position: relative;
  margin: 0 auto;
  background: $color-base-1 url("/assets/images/blue-texture.png") no-repeat center;

  .caption {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    .sub-hero-slogan-alpha {
      line-height: 52px;
      font-weight: normal;
      color: $color-base;
      font-size: 26px;
      margin-bottom: 30px;
      @include font-primary;
    }

    .sub-hero-slogan {
      font-family: Helvetica, Arial, sans-serif;
      color: $color-base;
      font-size: 18px;
      line-height: 26px;
      font-weight: normal;
    }

    button {
      min-width: 225px;
      min-height: 52px;
    }
  }
}

//------------------------------------------------------------
// = Sections
//------------------------------------------------------------
.mob-star-white {
  background: url("/assets/images/bg-star.png") no-repeat 50% 0 #F6F6F5 !important;
}

section.mobile {

  h1 {
    font-weight: 200;
    font-size: 24px;
  }

  .mobile-description {
    font-family: Helvetica, Arial, sans-serif;
    color: #65676A;
    font-size: 16px;
    line-height: 24px;
  }

  button.cta {
    width: 170px;
  }
}

.section-advantages {

  padding-top: 20px;

  .section-content {

    padding: 0;

    header {
      h2 {
        font-size: 22px;
        line-height: 46px;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
      }

    }

    .slider {
      padding: 0;
      .slick-track {
        margin-left: 15px;
      }
      .slide {
        padding: 0 !important;
        width: 350px;
        margin-left: 20px;

        border-radius: 6px;
        text-align: center;
        background: #fff;
        border: 1px solid #EAEAEA;
        background: $color-base;

        p {
          padding: 0 15px 0 15px;
          font-size: 15px;
          margin-bottom: 40px;
        }
        .icon {

          margin: 20px 0 auto;
          float: none !important;
          display: inline-flex;
        }

      }
      .slick-dots li button:before {
        color: #A7A8AA !important;
        opacity: 0.5;
        font-size: 8px !important;
      }
      .slick-dots li.slick-active button:before {
        color: #333 !important;
        opacity: 0.9;
        font-size: 8px;
      }
      .slick-dots {
        bottom: 8px;
      }
    }

    .section-cta {
      margin: 25px 0 30px;
    }

  }

}

.section-join-banner {

  padding: 40px 0;

  .section-content {
    header {

      margin-bottom: 20px;

      h2 {
        padding: 0 30px;
        font-size: 22px;
        line-height: 28px;
      }
      p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .section-cta {

      text-align: center;
      overflow: hidden;
      margin: 0 auto;
      width: 70%;
      display: inline-flex;

      button {
        margin-right: 0 !important;
        display: block;
        width: 100%;
        margin: 0 10px;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    ;
    }
  }

}

.section-sss {
  padding: 45px 0 45px 0;

  .section-content {
    padding-left: 0;
    padding-right: 0;

    header {
      margin-bottom: 40px;
      h2 {
        font-size: 22px;
        line-height: 46px;
      }
      p {
        margin: 20px auto;
        font-size: 16px;
        line-height: 24px;
        width: 60%;
      }
    }

    .questions {

      .collapsing {
        background: inherit;
      }

      ul {
        li {
          margin-top: 25px;
          a {
            line-height: 22px !important;
            i {
              line-height: 22px !important;
            }
          }
        }
      }
    }

  }
}

.section-where {

  .section-content {
    header {
      padding: 0;
      h2 {
        @include font-primary;
        font-size: 22px;
        line-height: 46px;
        color: $color-heading;
      }
      p {
        @include font-secondary;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .section-body {
      text-align: center;

      .card-1 {
        border: 1px solid $color-card-stroke-n-line;
        margin-bottom: 30px;
        ul {
          padding: 20px 20px 10px 20px;
          li:first-child {
            padding: 0px !important;
          }
          li {
            display: inline-table;
            vertical-align: middle;

          }
        }
      }
      .where-brand {
        .brand {
          display: inline-block;
          margin: 10px 4px 0 4px;
          border: 1px solid #EAEAEA;
          img {
            width: 108px;
          }
        }
      }
    }
    .products-cta {
      padding: 0;
      button {
        width: 100%;
        display: block;
      }
    }
  }

}

.section-footer {

  .section-cta {
    display: flex;;
    flex-direction: column;

    button {
      width: auto;
      text-align: left;
    }

  }

}

.section-about-news {
  padding: 20px 0;

  h3 {
    text-align: center;
  }

  .news-section {

    .news-card {
      margin-bottom: 20px;
    }

  }

}

.mobile-sort-filter {

  button {
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
  }

}

.responsive-select-page-1 {
  width: 100%;
  background: url(#{$images}blue-texture.png) 45% 64% no-repeat;
  min-height: 120px;
  padding: 20px 15px;
  .form-group {
    background: $color-base;
    padding: 15px;
    margin: 0;
    input {
      background: $color-base-6;
    }

    .icon {
      position: absolute;
      margin: 32px 12px;

      img {
        width: 20px;
      }

    }

  }
  select.input-lg {
    line-height: inherit;
    margin: 20px 0;
  }
  i {
    position: absolute;
    margin-left: 13px;
    font-size: 21px;
    margin-top: 25px;
    color: #B2B3B4;
  }
  input.input-lg {
    line-height: inherit;
    margin: 10px 0;
    background-color: $color-base-6;
  }
  h1 {
    color: $color-base;
    text-align: center;
    font-size: 24px; /*font size 24 olmadığı için ekledim birlikte bakarız kerem*/
  }

}

.mobile-sort-filter {
  button {
    width: 50%;
  }
}

.dropdown-position {
  vertical-align: middle;

  .dropdown-menu {
    border-radius: unset;
    &:after {
      position: absolute;
      top: -6px;
      right: 20%;
      display: inline-block;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $color-base-6;
      border-left: 10px solid transparent;
      content: '';
    }
  }

  ul {
    background: $color-base-6;
    margin-top: 49px;
    width: 100%;
    li a {
      font-size: 14px;
      line-height: 17px;
      padding-right: 0;
      margin-bottom: 10px;
    }

  }
}

.modal.filters {
  background: white !important;
  label {
    margin-bottom: 5px;
  }
  input, select {
    background: $color-base-6 !important;
    height: 40px;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 22px;
  }
  .close {
    margin-top: 20px;
    a {
      @include font-primary-semi-bold;
      font-size: 14px;
      line-height: 17px;
      img {
        margin-left: 5px;
      }
    }

  }
}

.modal.finder {
  .nav-list {
    .logo {
      img {
        float: left;
        margin: 10px 0 10px 30px;
      }

    }
    .close {
      .modal-close {
        margin: 40px 25px auto !important;
      }

    }
  }

}

.modal.join {
  .content {
    height: 90%;
  }
}

.campaign-swipe-tab {
  ul {
    li {
      padding: 8px 15px;
      a {
        padding: 15px;
      }
    }
  }
}

section.astrology {

  .page-detail {
    padding: 0;
  }

  .cta {
    margin: 30px 0 20px 0;
    text-align: center;
    width: auto;
    display: inline-block;
    button {
      text-align: center;
      width: 270px;
      height: 60px;
      font-size: 14px;
      line-height: 20px;
      color: $color-base-1;
    }
  }

}
.page-detail{
  .tab-content{
    .tab-pane{
      .property-card{
        img{
          float: none;
          width: 21px;
          margin: 0 auto;
          display: block;

        }
        ul{
          float: none;
          text-align: center;
        }
      }

    }
  }
}
.contact-content {

  hr {
    width: 100%;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .tab-content {

    .contact-title {
      padding-top: 20px;
    }
    .contact-map {
      margin-top: 20px;
    }

    .contact-form-container {
      float: none !important;
      margin: 20px auto;
      width: 70%;
    }
    .call {
      a {

        min-width: 290px;
        min-height: 60px;
        font-size: 32px;
        margin-bottom: 10px;
        line-height: 46px;
      }
    }
  }

}

.companies-detail {

  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    background: #FFF;
    color: #333;
  }
  .slick-arrow.slick-next {
    border: 1px solid red;
    margin-right: 80px;
  }

  .slick-arrow.slick-prev {
    margin-left: 80px;
  }

}

.js-brands-slider {
  figure {
    img {
      margin-bottom: 25px !important;
    }
  }

}

#mobile-header-menu.collapse.in {
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.page-featured{
  .box{
    .caption{
      padding: 10px;
      p{
        margin-bottom: 0;
      }
      h3, h4{
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }
}