//------------------------------------------------------------
// = TYPOGRAPHY
//------------------------------------------------------------



@font-face {
  font-family: 'SanFranciscoDisplay-Bold';
  src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoDisplay-Bold.otf')  format('opentype'),
  url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Bold.ttf')  format('truetype'), url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Regular';
  src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoDisplay-Regular.otf')  format('opentype'),
  url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Regular.ttf')  format('truetype'), url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SanFranciscoText-Light';
  src: url('../fonts/SanFranciscoText-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoText-Light.otf')  format('opentype'),
  url('../fonts/SanFranciscoText-Light.woff') format('woff'), url('../fonts/SanFranciscoText-Light.ttf')  format('truetype'), url('../fonts/SanFranciscoText-Light.svg#SanFranciscoText-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SanFranciscoDisplay-Ultralight';
  src: url('../fonts/SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoDisplay-Ultralight.otf')  format('opentype'),
  url('../fonts/SanFranciscoDisplay-Ultralight.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Ultralight.ttf')  format('truetype'), url('../fonts/SanFranciscoDisplay-Ultralight.svg#SanFranciscoDisplay-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin font-weight($weight) {
  $weights: (
          thin: 100,
          extra-light: 200,
          ultra-light: 200,
          light: 300,
          normal: 400,
          book: 400,
          regular: 400,
          medium: 500,
          semi-bold: 600,
          demi-bold: 600,
          bold: 700,
          extra-bold: 800,
          ultra-bold: 900,
          heavy: 900,
          black: 900,
          ultra: 900,
          ultra-black: 900,
          extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}


