//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------


$transition:                        all .3s ease-out;
$transition-5:                      all .5s ease-out;
$transition-8:                      all .8s ease-out;

$font-ultra-light:                  Helvetica Neue,Helvetica,Arial,sans-serif;
$font-light:                        Helvetica Neue,Helvetica,Arial,sans-serif;
$font-regular:                      Helvetica Neue,Helvetica,Arial,sans-serif;
$font-bold:                         Helvetica Neue,Helvetica,Arial,sans-serif;



//Color palette
$color-black:                       #454545;
$color-blue:                        #1DC9E9;
$color-pink:                        #E72974;
$color-brown:                       #814616;
$color-brown-ultra-light:           #EAE5DF;
$color-white:                       #FFFFFF;
$color-gray:                        #676a6c;
$color-gray-2:                      #999999;
$color-gray-3:                      #F8F8F8;
$color-warning:                     #f8ac59;
$color-error:                       #ed5565;
$color-success:                     #23c6c8;





