/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container { 
  display: inline-block;
}

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
}

.xzoom {

 border:5px solid #f3f3f3;
}
.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
 /* -webkit-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);*/
}

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border:5px solid #f3f3f3;
}

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
.xzoom-preview {

  /*background: #2f4f4f;*/
  /*box-shadow:  -1px 7px 31px -11px rgba(0, 0, 0, 0.5);*/
}

/* Lens */
.xzoom-lens {

  /*box-shadow: -1px 7px 31px -11px rgba(0, 0, 0, 0.5);*/
  cursor: crosshair;
}

/* Loading */
.xzoom-loading {
  /*background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px;*/
}

/* Additional class that applied to thumb when it is active */
.xactive {
  border-color: #909090;
}

/* Caption */
.xzoom-caption {
  position: absolute;
  bottom: -43px;
  left: 0;
  background:#E72974;
  width: 100%;
  text-align: center;
}

.xzoom-caption span {
  color: #fff;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  padding: 10px;
}